.servicesGrid {
  padding: 80px;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  row-gap: 50px;
  justify-content: center;
  align-items: start;
}

@media (max-width: 965px) {
  .servicesGrid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
}

@media (max-width: 700px) {
  .servicesGrid {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
  }
}
