.featureCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.featureCardIcon div {
  background: linear-gradient(
    173deg,
    rgba(255, 255, 255, 0.35),
    rgba(215, 215, 215, 0.35)
  );
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.15);
}

.featureCardIcon,
svg {
  stroke-width: 1.2;
  stroke: #ff5200;
}

.featureCardContent h1 {
  font-size: 22px;
  letter-spacing: 0.05em;
  font-weight: 500;
  line-height: 1.2;
}

.featureCardContent p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(21, 21, 21, 0.8);
  font-weight: 400;
  text-wrap: pretty;
}
