.galleryContainer {
  min-height: 850px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}

.galleryFilter {
  width: 25%;
  margin: 15px auto;
}

@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(2, auto);
  }

  .galleryFilter {
    width: 60%;
    margin: 15px auto;
  }
}

@media (max-width: 400px) {
  .gallery {
    grid-template-columns: auto;
  }

  .galleryFilter {
    width: 100%;
    margin: 15px 0;
    padding: 0 5px;
  }
}
