.gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}

@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 900px) {
  .gallery {
    grid-template-columns: auto;
  }
}
