/* Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  background-color: white;
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  overflow-x: clip;
}

.navbarNav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarNavItem {
  margin: 0 15px;
  position: relative;
}

.navLink {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  position: relative;
  padding: 5px 0;
}

.navLink:hover {
  color: #ff5200;
  transition: all 0.3s ease;
}

.navbar a:global(.active) {
  color: #ff6600;
}

.navbar a:global(.active)::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ff6600;
}

/* Burger menu */
.burgerMenu {
  display: none;
  flex-direction: column;
  gap: 5px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 15px;
}

.burgerLine {
  width: 25px;
  height: 3px;
  background-color: #000;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .navbar {
    justify-content: space-between;
    padding-inline: 16px;
  }

  .burgerMenu {
    display: flex;
  }

  .navbarNav {
    z-index: 30;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: white;
    flex-direction: column;
    width: 200px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navbarNavOpen {
    transform: translateX(0);
  }

  .navbarNavItem {
    margin: 15px;
  }
}
