/* Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  background-color: white;
  max-width: 1000px;
  margin: 0 auto;
}

.navbarBrand {
  display: flex;
  align-items: center;
}

.navbarLogo {
  height: 39px;
  margin-right: 10px;
}

.navbarTitle {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.navbarSubtitle {
  font-size: 12px;
  color: #777;
  margin-left: 5px;
}

.navbarNav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarNavItem {
  margin: 0 15px;
  position: relative;
}

.navLink {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  position: relative;
  padding: 5px 0;
}

.navbar a:global(.active) {
  color: #ff6600;
}

.navbar a:global(.active)::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ff6600;
}
