* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  min-height: 100dvh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  overflow-wrap: break-word; /* Corrige 'text-wrap: pretty' a 'overflow-wrap: break-word' */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance; /* 'text-wrap: balance' es experimental, válido para navegadores que lo soporten */
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none !important; /* Añadido '!important' para ser consistente */
  }
}
